body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  background: #01579b;
  color: #84ffff;
}

nav {
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #ff8a80;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
